<footer class="footer"> 
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__side">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="./img/logo.svg" alt="">
                </a>
                <p class="footer__desc">
                    Семейный питомник растений
                </p>
            </div>
            <div class="footer__info">
                <p>
                    ИП Глава КФХ Германов А.Н.
                </p>
                <p>
                    ИНН 7725114488 
                </p>
                <p>
                    р/с 4080281076328000091 
                </p>
                <p>
                    Филиал “Центр розничного и малого бизнеса АО “Россельзозбанк”” 
                </p>
            </div>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#">Публичная оферта на продажу товаров</a></li>
                <li class="footer__list-item"><a href="#">О нас</a></li>
                <li class="footer__list-item"><a href="#">Агротуризм</a></li>
                <li class="footer__list-item"><a href="#">Пчеловодство</a></li>
                <li class="footer__list-item"><a href="#">Оптовикам</a></li>
                <li class="footer__list-item"><a href="#">Оплата</a></li>
                <li class="footer__list-item"><a href="#">Доставка</a></li>
                <li class="footer__list-item"><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2026 GERMANOV</p>
            <a href="#" class="footer__bottom-link">Политика конфиденциальности</a>
            <a href="#" class="footer__bottom-link">Согласие на обработку персональных данных</a>
        </div>
    </div>
</footer> 

@@include("_sprite.svg")
<script src="js/common.js?v=0"></script> 
</body> 
</html>